* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-family-inter: "Inter", sans-serif;
    --font-family-roboto-mono: "Roboto Mono", monospace;
    --title: 700 1.5rem/2rem var(--font-family-inter);
    --label: 600 1rem/1.25rem var(--font-family-inter);
    --paragraph: 500 1rem/1.25rem var(--font-family-inter);
    --link: 500 .875rem/1rem var(--font-family-inter);
}