main {
    margin-inline: auto;
    max-width: 42rem;
    padding-inline: 2rem;

    & .back-button {
        font: var(--link);
        color: var(--color-brand);
        transition: color 150ms ease;

        &:hover {
            color: var(--color-brand-hover);
        }
    }

    & h1 {
        font: var(--title);
        margin-block: 1rem 2.75rem;
    }

    & .add-item {
        display: flex;
        gap: 1rem;
        /* margin-block: 1rem 2.5rem; */

        & input {
            width: 100%;
            height: 2.75rem;
            padding-inline: 1.125rem;
            font: var(--input);
            color: var(--content-primary);
            border: 2px solid var(--border-primary);
            border-radius: .75rem;
            outline: none;
            transition: border 150ms ease;

            &:hover {
                border: 2px solid var(--border-hover);
            }

            &:focus {
                border: 2px solid var(--color-brand);
            }

            &::placeholder {
                color: var(--content-tertiary);
            }
        }

        & button {
            all: unset;
            width: 12rem;
            height: 2.75rem;
            font: var(--label);
            color: var(--always-white);
            background-color: var(--color-brand);
            border-radius: .75rem;
            text-align: center;
            transition: background-color 150ms ease;

            &:hover {
                background-color: var(--color-brand-hover);
            }
        }
    }

    & .list {
        display: flex;
        flex-direction: column;
        gap: .75rem;
        margin-block: 2.5rem 2.25rem;

        & .item {
            background-color: var(--background-secondary);
            border-radius: .75rem;
            height: 3.5rem;
            width: 100%;
            display: flex;
            position: relative;
            border-radius: .75rem;
            padding-inline: .75rem;
            display: flex;
            align-items: center;
            gap: .75rem;
            
                & input {
                    appearance: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    border-radius: .75rem;
    
                    &:checked + .checkbox  {
                        border: unset;
                        background: var(--color-brand) url(../assets/icons/check.svg) center;
                    }
                }

                & .checkbox {
                    width: 1rem;
                    height: 1rem;
                    border: 1px solid var(--border-primary);
                    border-radius: .375rem;
                }

                & .text {
                    font: var(--paragraph);
                }

                & .delete {
                    background: unset;
                    border: unset;
                    margin-left: auto;
                    width: 2rem;
                    height: 2rem;
                    z-index: 1;
                }

                &:hover {
                    & .checkbox {
                        border: 1px solid var(--border-hover);
                    }
                }
        }
    }

    & .alert {
        display: flex;
        align-items: center;
        gap: .5rem;
        background-color: var(--color-danger);
        padding: .75rem;
        border-radius: .75rem;

        &.hide {
            display: none;
        }

        & span {
            font: var(--label);
            color: var(--always-white);
        }

        & .remove {
            all: unset;
            width: 1.25rem;
            height: 1.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: auto;
        }
    }

    @media (width <= 30em) {
        & .add-item {
            flex-direction: column;

            & button {
                width: 100%;
            }
        }
    }
}